@font-face {
    font-family: Kalam;
    src: url('./../../fonts/Kalam-Regular.ttf');
}


img#back {
    width: 100vw;
    position: fixed; left: 0; bottom: 0;
    /* min-height: 100vh; */
}

div#login-box {
    text-align: center;
    padding: 2vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.87);
    width: 22vw;
    margin-left: 15vw;
    height: 80vh;
    top: 0;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.699);
    min-width: 250px;
    min-height: 450px;

    transition: .15s;
}

div#login-box:hover {
    background-color: #fff;
    width: 22.3vw;
    margin-left: 14.8vw;
    height: 82vh;
    top: 0;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.699);
}

h1 {
    margin-top: 10vh;
    font: 600 60px Kalam;
    /* margin-bottom: 3vh; */
    color: rgb(46, 46, 46);
}

.login-input {
    height: 40px;
    width: 17vw;
    margin-top: 35px;
    border-radius: 3px;
    border: rgb(173, 173, 173) dashed 1px;
    background-color: rgb(223, 223, 223);
    font-size: 20px;
    text-align: center;
    min-width: 220px;
}

span {
    margin-top: 5px;
    position: absolute;
    color: rgb(97, 97, 97);
    font: bold 12px Arial;
    right: 2.6vw;
}

button {
    margin-top: 6vh;
    background-color: rgb(0, 40, 151);
    color: white;
    border-radius: 15px;
    height: 40px;
    width: 140px;
    border: none;
    font: bold 20px Arial;
    transition: .3s;
}

button:hover {
    background-color: rgb(0, 16, 105);
}

@media (min-height: 75vw) {
    img#back {
        width: unset;
        height: 100vh;
    }
}